<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tialejo ® - Detalhe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-VuwNeOLQQ1vXtZgTkqK3zUFJAN3Uw8byEUVqyIZJc6DvZ4FYvZMzUKcFE4fsVHmzUchidreL5x5xKWszxiVjQg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" th:href="@{/images/cd.ico}" type="image/x-icon">
</head>

<body>
  <nav class="navbar">
    <div class="left-navbar">
      <img src="../static/images/cd.ico" alt="Logo">
      <h1 class="mt-2">Tialejo ®</h1>
    </div>
    <div class="right-navbar">
      <i class="fa-solid fa-cart-shopping mt-4"></i>
      <a href="cadastro-pessoa.html" class="btn mt-4">Login ou Cadastre-se</a> 
      <!-- Precisa verificar se é realmente essa tela de cadastro que deve ser referenciada-->
    </div>
  </nav>


  <script src="https://kit.fontawesome.com/eaae749ef3.js" crossorigin="anonymous"></script>
</body>

</html>