<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Tialejo ® - Sua Loja de Música!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-VuwNeOLQQ1vXtZgTkqK3zUFJAN3Uw8byEUVqyIZJc6DvZ4FYvZMzUKcFE4fsVHmzUchidreL5x5xKWszxiVjQg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="shortcut icon" th:href="@{/images/cd.ico}" type="image/x-icon">
</head>

<body>
  <nav class="navbar">
    <a th:href="@{'/'}">
    <div class="left-navbar">

        <img  th:src="@{/images/cd.ico}" alt="Logo">
        <h1 class="mt-2">Tialejo ®</h1>

    </div>
    </a>
    <div class="right-navbar">
      <i class="fa-solid fa-cart-shopping mt-4"></i>
      <a th:href="@{'/login'}" class="btn mt-4" style="z-index: 999">>Login ou Cadastre-se</a>
    </div>
  </nav>

  <section id="secao-produtos">
    <ul>
      <li>
        <div class="card col-11 bg-body-tertiary">
          <div class="card-info">
            <img src="../static/images/product.png" class="img-principal" alt="imagem principal do produto">
            <h3>Vinil Album "GAME" - Perfume</h3>
              <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <h4>Avaliação 5/5</h4>
              </span>
              <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #74C0FC;"></i>
                <h4>R$ 100,00</h4>
              </span>
              <a th:href="@{'/tela-produto'}" class="btn mt-1 align-self-center">Detalhe</a>
          </div>
        </div>
      </li>
      <li>
        <div class="card col-11 bg-body-tertiary">
          <div class="card-info">
            <img src="../static/images/product.png" class="img-principal" alt="imagem principal do produto">
            <h3>Vinil Album "GAME" - Perfume</h3>
            <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <h4>Avaliação 5/5</h4>
              </span>
            <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #74C0FC;"></i>
                <h4>R$ 100,00</h4>
              </span>
            <a th:href="@{'/tela-produto'}" class="btn mt-1 align-self-center">Detalhe</a>
          </div>
        </div>
      </li>
      <li>
        <div class="card col-11 bg-body-tertiary">
          <div class="card-info">
            <img src="../static/images/product.png" class="img-principal" alt="imagem principal do produto">
            <h3>Vinil Album "GAME" - Perfume</h3>
            <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <h4>Avaliação 5/5</h4>
              </span>
            <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #74C0FC;"></i>
                <h4>R$ 100,00</h4>
              </span>
            <a th:href="@{'/tela-produto'}" class="btn mt-1 align-self-center">Detalhe</a>
          </div>
        </div>
      </li>
      <li>
        <div class="card col-11 bg-body-tertiary">
          <div class="card-info">
            <img src="../static/images/product.png" class="img-principal" alt="imagem principal do produto">
            <h3>Vinil Album "GAME" - Perfume</h3>
            <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <h4>Avaliação 5/5</h4>
              </span>
            <span style="display: flex; gap: 5px; justify-content: center;">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #74C0FC;"></i>
                <h4>R$ 100,00</h4>
              </span>
            <a th:href="@{'/tela-produto'}" class="btn mt-1 align-self-center">Detalhe</a>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <script src="https://kit.fontawesome.com/eaae749ef3.js" crossorigin="anonymous"></script>
</body>

</html>