<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title>Tialejo ® - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="shortcut icon" th:href="@{/images/cd.ico}" type="image/x-icon">
</head>

<body>
	<nav class="navbar">
		<a th:href="@{'/'}"> 
		<div class="left-navbar">
		  <img th:src="@{/images/cd.ico}" alt="Logo">
		  <h1>Tialejo ®</h1>
		</div>
		</a>
		<!-- Não consigo fazer isso funcionar igual funciona na Landing Page @Joseph me ajuda-->
		<div class="right-navbar">
		  <a th:href="@{'/principal'}" class="btn mt-4">Voltar</a>
		  <a th:href="@{'/login'}" class="btn mt-4">Logout</a>
		</div>
	  </nav>
<section class="content">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 justify-content-center text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center" style="max-width: 50%; margin-left: 25%;">
					<h1 class="mb-0 pb-3">Login</h1>
					<form method="POST" action="/loginCliente">
						<div th:if="${errors}" class="error-message">
							<ul>
								<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
							</ul>
						</div>
					<div class="form-group">
						<input type="email" class="form-style" placeholder="Email" name="email">
						<i class="input-icon uil uil-at"></i>
					</div>
					<div class="form-group mt-2">
						<input type="password" class="form-style" placeholder="Senha" name="senha">
						<i class="input-icon uil uil-lock-alt"></i>
					</div>
						<div th:if="${error}" class="error-message">
							<ul>
								<li th:text="${error}"></li>
							</ul>
						</div>
					<button type="submit" href="" class="btn mt-4"> Login</button>
						<a th:href="@{'/cadastro-cliente'}" class="btn mt-4" >Cadastre-se</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>

</html>
