<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title>Tialejo ® - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/CSS/style.css}">
	<link rel="shortcut icon" th:href="@{/images/cd.ico}" type="image/x-icon">
</head>

<body>
<nav class="navbar">
	<div class="left-navbar">
		<img th:src="@{/images/cd.ico}" alt="Logo">
		<h1>Tialejo ®</h1>
	</div>
	<div class="right-navbar">
		<a href="" class="btn mt-4">Logout</a>
	</div>
</nav>
<section class="content">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<h4 class="mb-4 pb-3">Login</h4>
					<div class="form-group">
						<input type="email" class="form-style" placeholder="Email">
						<i class="input-icon uil uil-at"></i>
					</div>
					<div class="form-group mt-2">
						<input type="password" class="form-style" placeholder="Senha">
						<i class="input-icon uil uil-lock-alt"></i>
					</div>
					<a href="" class="btn mt-4"> Login</a>
					<a th:href="@{'/cadastro-pessoa'}" class="btn mt-4" >Cadastre-se</a>
				</div>
			</div>
		</div>
	</div>
</section>
</body>

</html>
