<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Tialejo ® - Principal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/cd.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar">
        <img src="../static/images/cd.ico" alt="Logo">
        <h1>Tialejo ®</h1>
    </nav>
    <section class="content">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center actions">
                                            <h1 class="mb-0 pb-3"><span>Início</span></h1>
                                            <a th:href="@{/listar-usuarios}"class="btn mt-4">Listar Usuários</a>
                                            <a th:href="@{/listar-produtos}"class="btn mt-4">Listar Produtos</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>