<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tialejo ® - Cadastro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" th:href="@{/images/cd.ico}" type="image/x-icon">
</head>

<body>
<nav class="navbar">
  <div class="left-navbar">
    <img src="images/cd.ico" alt="Logo">
    <h1>Tialejo ®</h1>
  </div>
  <div class="right-navbar">
    <a href="/principal" class="btn mt-4">Voltar</a>
    <a href="" class="btn mt-4">Logout</a>
  </div>
</nav>
<div class="maior">
  <div class="produto">
    <img src="images/GAME.jpg" alt="cd perfume">
  </div>
  <div>
    <div class="col-12 text-center align-self-center py-5" style="color: rgb(180, 14, 235)">
      <h2>Vinil Album "GAME" - Perfume PRONTA ENTREGA </h2>
    </div>
    <div class="informações">
      <h3 style="color: rgb(234, 18, 18)">Preço: 300,00</h3>
      <h4>Avaliações: 5/5 #</h4>
    </div>
    <div class="informações">
      <li style="color: rgb(234, 18, 18)">Descrição:</li>
      <h4> Vinil lacrado do trio JPOP Perfume, GAME, é o album de estreia do trio, e conta com uma gama de
        hits techno-dance</h4>
    </div>
    <button class="btn mt-4">COMPRAR</button>
  </div>
</div>
</body>

</html>